@import url('layout.css');

header {
    position: fixed !important;
    float: right;
    right: 40px;
    z-index: 1;
}

h1 small {
    display: block;
}

#view-mode:after {
    content: ' Violations Only';
}

#view-mode.active:after {
    content: ' Everything';
}

.file.notes {
    padding: 20px;
    background: #fff;
    box-shadow: #ddd 0 0 20px;
    margin: 0 0 20px 0;
}

.code {
    padding: 20px;
    background: #fff;
    box-shadow: #ddd 0 0 20px;
}

.line {
    position: relative;
    border-bottom: 1px solid #eee;
    line-height: 30px;
}

.line .line-no {
    position: absolute;
    text-align: right;
    padding-right: 5px;
    width: 35px;
}

.line .token {
    font-family: 'Monaco', monospace;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 50px;
    min-height: 30px;
}

.line .token .syntax {
    font-weight: bold;
    border-radius: 3px;
}

.line .token .syntax.comment {
    color: #ccc;
}

.line .token .syntax.feature {
    color: #9933CC;
}

.line .token .syntax.scenario {
    color: #669900;
}

.line .token .syntax.step {
    color: #0099CC;
}

.line .token .syntax.quote {
    color: #FF8800;
}

.line .token .syntax.variable {
    color: #fff;
    background: #666;
}

.line .token .syntax.extra-spaces {
    background-color: #FF4444;
}

.line .token .tab {
    border-bottom: 2px solid #FF4444;
}

.line .token.ignored {
    color: #999;
}

.line .notes {
    border: 1px dashed #ddd;
    padding: 20px;
    margin: 5px 0;
    margin-left: 50px;
}

.line .notes h2 {
    margin: 0;
}

.code > .line:first-child {
    border-top: 1px solid #eee;
}

.line.warning .line-no {
    top: 0;
    left: 0;
    bottom: 0;
    color: #fff;
    margin-left: -30px;
    padding-left: 30px;
    background-color: #FF8800;
    box-shadow: #ddd 0 0 5px;
}

.line[data-type="tagline"] .token {
    color: #FF8800;
}

.line .token .syntax.comment .syntax {
    color: #fff;
    background: #cc0000;
}